{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if object %}
        Editar Modelo
    {% else %}
        Crear Nuevo Modelo
    {% endif %}
{% endblock %}

{% block content %}
    <h2 class="mb-4">
        {% if object %}
            Editar Modelo
        {% else %}
            Crear Nuevo Modelo
        {% endif %}
    </h2>

    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            {{ form.marca|as_crispy_field }}
        </div>
        <div class="mb-3">
            {{ form.descripcion|as_crispy_field }}
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'modelo-list' %}" class="btn btn-secondary">Cancelar</a>
    </form>

    <script>
        // Bootstrap validation script
        (function () {
            'use strict'

            var forms = document.querySelectorAll('.needs-validation')

            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
{% endblock %}
